html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table-section {
  width: 100vw;
  height: 100vh;
  background-color: #1D1D1C;
}

.table-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 94px 0;
}

.table-section .header h1 {
  color: #fff;
  font-size: 40px;
  line-height: 85px;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.table-section .header svg {
  fill: #696968;
}

.table-section .table-comps {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 125px;
}

.table-section .table-comps a {
  text-decoration: none;
}

.table-section .table-comps .content-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 125px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.table-section .table-comps .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 73px;
}

.table-section .table-comps .row-1 h4 {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  width: 105px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.table-section .table-comps .row-1 .svg-holder {
  width: 72px;
  height: 72px;
  position: relative;
}

.table-section .table-comps .row-1 .svg-holder svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.table-section .table-comps .row-1 .flex-comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.table-section .table-comps .row-1 .flex-comp svg {
  width: 78px;
}

.table-section .table-comps .row-1 .flex-comp span {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  width: 130px;
}

.table-section .table-comps #aboutUs {
  display: none;
  text-align: left;
  line-height: 22px;
  font-size: 18px;
  color: #fff;
  max-width: 897px;
  width: 100%;
  margin-top: 205px;
}

.media-section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-section .controls-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
  width: 15%;
  height: 100vh;
  background-color: #1D1D1C;
}

.media-section .controls-menu .col-1 {
  width: 120px;
  height: 120px;
  background-color: #fff;
  z-index: 1;
}

.media-section .controls-menu .col-1 .grid-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.media-section .controls-menu .col-1 .grid-col .grid-child {
  background-color: #fff;
  width: 60px;
  height: 60px;
  position: relative;
}

.media-section .controls-menu .col-1 .grid-col .grid-child svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.media-section .controls-menu .col-1 p {
  font-size: 16px;
  padding: 14px 0 0 5px;
}

.media-section .controls-menu .col-1 #pause, .media-section .controls-menu .col-1 #play {
  cursor: pointer;
}

.media-section .controls-menu .col-1:nth-child(4) svg {
  padding: 0 6px 0;
}

.media-section .controls-menu .col-1:nth-child(4) svg:nth-child(2) {
  float: right;
}

.media-section .controls-menu .col-1:nth-child(5) {
  position: relative;
}

.media-section .controls-menu .col-1:nth-child(5) svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.media-section .background-decor {
  width: 85%;
  height: 100vh;
  background: transparent;
  z-index: 1;
}

.media-section .background-decor svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% auto auto 20%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.media-section .media-bar {
  height: 100vh;
  width: 15%;
  background-color: #1D1D1C;
  position: absolute;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/*# sourceMappingURL=global.css.map */